extends layouts/skele
block body
  section.confirm-donation
    .container.content-wrap
      .row
        .col-sm-6.col-sm-offset-3
          h1 Confirm Your Info
          form#confirm-donate(action="/confirm", method="post")
            input(type="hidden", name="_csrf", value="#{csrf_token}")
            input(type="text", name="shh", class="shh")

            fieldset
              legend Personal Info
              .form-group
                label(for="") Your Name
                input.form-control(type="text", name="human_name", value="#{form.human_name}")

              .form-group
                label(for="") Your Phone
                input.form-control(type="text", name="phone", value="#{form.phone}")

              .form-group
                label(for="") Your Email
                input.form-control(type="text", name="email", value="#{form.email}")

            fieldset
              legend Donation Info

              .form-group
                label() Your Street Address
                input.form-control(type="text", name="address", value="#{form.address}")

              .form-group
                label() Your City
                input.form-control(type="text", name="city", value="#{form.city}")

              .form-group
                label() Your Zip Code
                input.form-control(type="text", name="zip_code", value="#{form.zip_code}")

              .form-group
                label(for="") Your Occupation
                input.form-control(type="text", name="occupation", value="#{form.occupation}")

              .form-group
                label(for="") Your Employer
                input.form-control(type="text", name="employer", value="#{form.employer}")
          
            fieldset
              legend Enter Your Card Info
              p.amount.h3 You offered to pledge: $#{form.amount}
              span.errors
              .form-group
                .row
                  .col-sm-6
                    label(for="card-number") Number
                    input.form-control(type="text", size=16, data-stripe="number", value='4242424242424242')

                  .col-sm-2
                    label(for="card-cvc") CVC
                    input.form-control(type="text", data-stripe="cvc", value='444')

              .form-group
                .row
                  .col-sm-4
                    label(for="card-exp-month") Exp Month
                    select.form-control(data-stripe="exp-month")
                      option(value="01") 01
                      option(value="02") 02
                      option(value="03") 03
                      option(value="04") 04
                      option(value="05") 05
                      option(value="06") 06
                      option(value="07") 07 
                      option(value="08") 08 
                      option(value="09") 09 
                      option(value="10") 10
                      option(value="11") 11
                      option(value="12") 12

                  .col-sm-4
                    label(for="card-exp-year") Exp Year
                    input.form-control(type="text", data-stripe="exp-year", value='2015')

             .form-group
               button.btn.btn-donate.btn-lg(type="submit") Make Your Donation
               a.btn.btn-cancel(href="/donate#donate") Go Back
