extends layouts/skele
block body
  section.confirm-donation
    .container.content-wrap
      .row
        .col-sm-6.col-sm-offset-3
          h1 Confirm Your Info
          form#confirm-donate(action="/confirm", method="post")
            input(type="hidden", name="_csrf", value="#{csrf_token}")
            input(type="text", name="shh", class="shh")

            fieldset
              legend Personal Info
              .form-group
                label(for="human_name") Your Name
                input.form-control(type="text", name="human_name", value="#{form.human_name}")

              .form-group
                label(for="phone") Your Phone
                input.form-control(type="text", name="phone", value="#{form.phone}")

              .form-group
                label(for="email") Your Email
                input.form-control(type="text", name="email", value="#{form.email}")

            -if (form.big_form)
              fieldset
                legend Donation Info

                .form-group
                  label(for="address") Your Street Address
                  input.form-control(type="text", name="address", value="#{form.address}")

                .form-group
                  label(for="city") Your City
                  input.form-control(type="text", name="city", value="#{form.city}")

                .form-group
                  label(for="zip_code") Your Zip Code
                  input.form-control(type="text", name="zip_code", value="#{form.zip_code}")

                .form-group
                  label(for="occupation") Your Occupation
                  input.form-control(type="text", name="occupation", value="#{form.occupation}")

                .form-group
                  label(for="employer") Your Employer
                  input.form-control(type="text", name="employer", value="#{form.employer}")

            fieldset
              legend Your Donation

              .form-group
                p#amount.amount.h3(data-amount="#{form.amount}") You offered to pledge: $#{form.amount}

              .form-group
                button#change-amount.btn.btn-edit(type="button") Change Your Donation
          
            fieldset
              legend Enter Your Card Info
              span.errors.has-error
              .row
                .col-sm-6.form-group
                  label(for="card-number") Number
                  input#card-number.form-control(type="text", size=16, data-stripe="number")

                .col-sm-2.form-group
                  label(for="card-cvc") CVC
                  input#card-cvc.form-control(type="text", data-stripe="cvc")

              .row
                .col-sm-4.form-group
                  label(for="card-exp-month") Exp Month
                  select.form-control(data-stripe="exp-month")
                    option(value="01") 01
                    option(value="02") 02
                    option(value="03") 03
                    option(value="04") 04
                    option(value="05") 05
                    option(value="06") 06
                    option(value="07") 07 
                    option(value="08") 08 
                    option(value="09") 09 
                    option(value="10") 10
                    option(value="11") 11
                    option(value="12") 12

                .col-sm-4.form-group
                  label(for="card-exp-year") Exp Year
                  input#card-exp-year.form-control(type="text", data-stripe="exp-year")

             .form-group
               button.btn.btn-donate.btn-lg(type="submit") Make Your Donation
               a.btn.btn-cancel(href="/donate#donate") Go Back
