doctype html
head
body
  style
    h1 { border-bottom: 1px solid #DD4B39; }
    .amount { text-align: center; font-size: 2em; background-color: #000; line-height: 30px; height; 30px; margin-top: 5em; }

  .donation-receipt
    h1 New Donation
    h2 Personal Info
    p Name: #{human_name}
    p Phone: #{phone}
    p Email: #{email}

    h2 Address:
    p #{address}
    p #{city}, #{zip_code} 
    
    h2 Employment: 
    p Occupation: #{occupation}
    p Employer: #{empployer}

    h2 Amount
    p.amount Amount: #{amount}
