nav.navbar-dyer.navbar.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar

      //a(href="/")
        img.navbar-left(src="/img/logo-compact.png")

    #navbar-collapse.navbar-collapse.collapse
      ul.navbar-nav.nav.navbar-left
        li
          a(href="/") Home
        li
          a(href="/about") About Kate
        li
          a(href="/get-involved") Get Involved
        li
          a(href="/donate") Donate

      a.btn.btn-donate.navbar-right(type="button", href="/donate#donate") Donate
      //
        form.navbar-right.navbar-btn(action="",  method="POST")
          script(
            src="https://checkout.stripe.com/checkout.js",
            class="stripe-button",
            data-key="pk_test_gaLOWFmLlT7GpIAzmhMvmubG",
            data-amount="2000",
            data-name="Demo Site",
            data-description="2 widgets ($20.00)",
            data-image="/128x128.png")
